<a href="/">&larr; Back</a>
<div class="admin-title">
    <h2>View / Edit Note</h2>

    <form action="/delete-note/<%= data._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn-delete btn">
    </form>
</div>

<form action="/edit-note/<%= data._id %>?_method=PUT" method="POST">
    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Note Title" name="title" value="<%= data.title %>">
    
    <label for="body"><b>Note</b></label>
    <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

    <input type="submit" value="Update" class="btn">
</form>